* {
    margin: 0;
    padding: 0;
}










.logotrevo> {
    width: 100px;
    height: 100px;
    
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-color: #9e4b02d0;
}

.logotrevo>img {
    max-width: 130px;
   padding-left: 15px;
    
    
}

.menu {
    
    list-style: none;
    padding: 20px;
    width: 200px;
   
}

.menuitem {
    align-items: center;
    border-radius: 4px 2px  ;
    box-shadow: 1px 1px 1px;
    margin: 3px;
    padding: 5px;
    background-color: #9df22f83;
}
.menuitem:hover {
    background-color: #f77504fd;
    border: solid 1px black;
    box-shadow: 1px 1px 1px;
}

.galeria {

    background-color: aquamarine;
    display: flex;
    width: 30em;
    height: 800px;
    width: 700px;

}
.galeriaitem {
    border: solid 1px black;
    background-color: rgb(157, 168, 5);
    width: 50px;

   
}
.gitem {

}


